<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="{{ url_for('static', filename='css/pico.min.css') }}" rel="stylesheet">
</head>

<body>
  <main class="container-fluid">
    <nav>
      <ul>
        <li><strong>File Bucket</strong></li>
      </ul>
      <ul>
        <li><a href="#" class="secondary">About us</a></li>
        <li><button class="contrast">Log in</button></li>
      </ul>
    </nav>
  </main>
</body>

</html>
